<a href="https://colab.research.google.com/github/shubhamjante/VIT-EndSemesterExam/blob/master/VIT_End_Sem_Exam_Guidelines.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Overview

This year, we set out to conduct an industry-wide survey that presents a truly comprehensive view of the state of data science and machine learning.

The results include raw numbers about who is working with data, what’s happening with machine learning in different industries, and the best ways for new data scientists to break into the field.

# Survey Methodology

<ul>
    <li>
        This survey received 23,859 usable respondents from 147 countries and territories. If a country or territory received less
        than 50 respondents, we grouped them into a group named “Other” for anonymity.
    </li>
    <li>
        We excluded respondents who were flagged by our survey system as “Spam”.
    </li>
    <li>
        Not every question was shown to every respondent. 
    </li>
    <li>
        To protect the respondents’ identity, the answers to multiple choice questions have been separated into a separate data file
        from the open-ended responses. We do not provide a key to match up the multiple choice and free form responses. Further, the
        free form responses have been randomized column-wise such that the responses that appear on the same row did not necessarily
        come from the same survey-taker.
    </li>
</ul>

In [0]:
import pandas as pd
import numpy as np

In [2]:
hosted_file_path = 'https://firebasestorage.googleapis.com/v0/b/oda-leads.appspot.com/o/dataset.csv?alt=media&token=6dc6aa7a-3cb0-4238-ab09-b7c533efd18b'
data = pd.read_csv(hosted_file_path, header=[0]).drop(0).reset_index(drop=True)
needed_cols = ['Q1','Q2','Q3','Q4','Q5','Q6','Q7','Q8','Q9','Q17','Q20','Q22','Q24','Q25','Q26','Q32','Q37']
data = data[needed_cols]

keys = data['Q5'].unique()
values = ['Engineering', 'Computer Science', 'Mathematics', 'Information Technology', 'A Business Discipline',
         'Environmental Science', 'Medical', 'I never declared a major', 'Other', 'Physics', 'Social Sciences',
          'Humanities', 'Fine Arts']
vals_to_replace_Q5 = dict(zip(keys, values))

data['Q5'] = data['Q5'].map(vals_to_replace_Q5)

data.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1,3,9,11,13,22,24,25,26,27,28,29,45,57,65,84,86,88,108,110,124,126,151,195,209,224,250,263,265,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,305,307,323,326,327,330,342,372,385,386,394,395) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

       Q1     Q2  ...               Q32       Q37
0    Male  30-34  ...               NaN       NaN
1  Female  30-34  ...  Time Series Data  DataCamp
2    Male  22-24  ...               NaN  Coursera
3    Male  35-39  ...    Numerical Data       NaN
4    Male  18-21  ...        Image Data   Udacity

[5 rows x 17 columns]